<div class="card m-5">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h1>Welcome {{membre?.nom}} {{membre?.prenom}}</h1>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date Naissance</th>
            <th>Email</th>
            <th>Password</th>
            <th>Telephone</th>
            <th>Laboratoire</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ membre?.id }}</td>
            <td>{{ membre?.nom }}</td>
            <td>{{ membre?.prenom }}</td>
            <td>{{ membre?.dateNaissance | date : 'dd/MM/yyyy' }}</td>
            <td>{{ membre?.email }}</td>
            <td>{{ membre?.password }}</td>
            <td>{{ membre?.telephone }}</td>
            <td>{{ membre?.laboratoire.intitule }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card m-5">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h1>Liste des Expressions de Besoins</h1>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EBAdd">Ajouter Expression Besoin</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Type de Besoin</th>
            <th>Montant Aproximatif</th>
            <th>Montant Effectif</th>
            <th>Date de demande</th>
            <th>Date de validation</th>
            <th>Valide?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exp of membre?.expressionBesoins">
            <td>{{ exp.id }}</td>
            <td>{{ exp.description }}</td>
            <td>{{ exp.typeBesoin.description }}</td>
            <td>{{ exp.montant | currency:'د.م' }}</td>
            <td *ngIf="exp.montantEffectif != 0">{{ exp.montantEffectif | currency:'د.م' }}</td>
            <td *ngIf="exp.montantEffectif == 0">-</td>
            <td *ngIf="exp.dateDemande != null">{{ exp.dateDemande | date : 'dd/MM/yyyy' }}</td>
            <td *ngIf="exp.dateDemande == null">-</td>
            <td *ngIf="exp.dateValidation != null">{{ exp.dateValidation | date : 'dd/MM/yyyy' }}</td>
            <td *ngIf="exp.dateValidation == null">-</td>
            <td class="ps-4">
              <i class="bi bi-check-circle-fill text-success h5" *ngIf="exp.validerDirecteur"></i>
              <i class="bi bi bi-x-circle-fill text-danger h5" *ngIf="!exp.validerDirecteur"></i>
              <i class="bi bi bi-x-circle-fill text-warning h5" *ngIf="exp.validerDirecteur==null"></i>
            </td>
            <td><a class="text-danger h5 ms-2" (click)="deleteExpressionBesoin(exp.id)"><i class="bi bi-trash3"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="EBAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="">Ajouter une Expression de Besoins</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newExpressionBesoinForm" (ngSubmit)="addExpressionBesoin()">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" formControlName="description" class="form-control">
          </div>
          <div class="form-group">
            <label for="montant">Montant Aprox</label>
            <input type="number" id="montant" formControlName="montant" class="form-control">
          </div>
          <div class="form-group mb-3">
            <label for="typeBesoin">Type de Besoins</label>
            <select id="typeBesoin" formControlName="typeBesoin" class="form-select">
              <option *ngFor="let typeBesoin of typeBesoins" [ngValue]="typeBesoin">
                {{ typeBesoin.description }}
              </option>
            </select>
          </div>
          <button type="submit" [disabled]="newExpressionBesoinForm.invalid" class="btn btn-primary"
            data-bs-dismiss="modal">Add Expression Besoin</button>
        </form>
      </div>
    </div>
  </div>
</div>
