<div class="card m-5">
  <div class="card-header">
    <h1>Ajouter établissement</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="etablissementForm" method="POST" (ngSubmit)="saveEtablissement()">
      <div class="mb-3">
        <label class="form-label">Intitule</label>
        <input type="text" class="form-control" name="intitule" formControlName="intitule">
      </div>
      <div class="mb-3">
        <label class="form-label">Adresse</label>
        <input type="text" class="form-control" name="adresse" formControlName="adresse">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a routerLink="/etablissement" class="btn btn-secondary ms-2">Back</a>
    </form>
  </div>
</div>
