<div class="card m-5">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h1 class="display-1 fw-medium" style="color: saddlebrown">Bonjour Admin</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="card" style="background-color: #FFF; color: saddlebrown">
          <div class="card-body">
            <div class="d-flex justify-content-between align-content-center">
              <h1 class="">Etablissements</h1>
            </div>
            <div>
              <h1 class="text-end mt-3 display-1 fw-bold">{{etabCount}}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white" style="background-color: saddlebrown">
          <div class="card-body">
            <div class="d-flex justify-content-between align-content-center">
              <h1 class="">Laboratoires</h1>
            </div>
            <div>
              <h1 class="text-end mt-3 display-1 fw-bold">{{labCount}}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 mt-3">
        <div class="card text-white" style="background-color: saddlebrown">
          <div class="card-body">
            <div class="d-flex justify-content-between align-content-center">
              <h1 class="">Dotations UCA Rech</h1>
            </div>
            <div>
              <h1 class="text-end mt-3 display-1 fw-bold">{{sommeDotationUcaRechCount | currency: 'د.م '}}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 mt-3">
        <div class="card" style="background-color: #FFF; color: saddlebrown">
          <div class="card-body">
            <div class="d-flex justify-content-between align-content-center">
              <h1 class="">Membres</h1>
            </div>
            <div>
              <h1 class="text-end mt-3 display-1 fw-bold">{{membreCount}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
